# Dependencies
/vendor
/node_modules

# Environment & Config
.env
.env.local
config/config.local.php
conection_prd.php

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SQL Dumps
*.sql

# IDEs
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
